# Server
PORT="3000"
HOST="0.0.0.0"
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DBNAME"

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_SESSION_SECRET="replace_this_with_a_long_random_string"
REDIS_SESSION_TTL="86400" # Session TTL in seconds

# Stripe
STRIPE_SECRET_KEY="skkkkkkkkkk"
STRIPE_WEBHOOK_SECRET="whhhhhhhh"
STRIPE_PUBLISHABLE_KEY="pkkkkkkkkkkk"
PAYMENT_PROVIDER=stripe

# SendGrid
SENDGRID_API_KEY="SG.xxxxx"
SENDGRID_FROM_EMAIL="your@email.com"
SENDGRID_FROM_NAME="I don't receive voucher"
# Admin
ADMIN_APPROVAL_NOTIFICATION_EMAIL="your@email.com apparel"
APP_URL="for invitation/verification links"
#ADMIN_INVITATION_EXPIRY_HOURS (optional, defaults to 168)
# OKADMIN_EMAIL_VERIFICATION_EXPIRY_HOURS (optional, defaults to 168)

# Theming
THEME_DEFAULT="kloi_default_theme"

# Security
SESSION_COOKIE_NAME="kloi_sessionId"
SESSION_COOKIE_SECURE="true"
SESSION_COOKIE_HTTP_ONLY="true"

# Misc
BASE_URL="http://localhost:3000"

# GOOGLE MAPS API KEY
GOOGLE_MAPS_API_KEY="Azazazazazazazazazazaza"
GOOGLE_MAPS_ID="80340d0d0d0d0d0d0d0d0d0d0d0"

# MAP POLYGON FORMAT TO BE USED IN CODE - USE "lat-lng" OR "lng-lat"
MAP_POLYGON="lat-lng"

#S3
AWS_S3_BUCKET=your-bucket-name
AWS_S3_REGION=eu-central-1
AWS_S3_ACCESS_KEY_ID=AKIA...
AWS_S3_SECRET_ACCESS_KEY=...
AWS_S3_PUBLIC_BASE_URL=https://your-bucket-name.s3.eu-central-1.amazonaws.com
