:root {
    --kloi-background: hsl(75deg 30% 27%);
    --kloi-text: #f2e3ce;
    --kloi-accent: #2b330a;
    --kloi-accent-secondary: #5ce6e6;
    --kloi-white: #ffffff;
    --kloi-deactivated: #313131;
    --kloi-warning: #b67474;
}

body {
    background-color: var(--kloi-background);
}